:root {
  --primary: #031102;
  --accent: limegreen;
  --f-code: 'JetBrains Mono', monospace;
}

body {
  background-color: #031102;
  color: #fff;
}

#loader {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: limegreen;
}

header {
  background-color: #031102;
  background-size: cover;
  height: 100vh;
}

nav {
  transition: top 0.3s;
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  z-index: 2;
  background-color: var(--primary);
  border-bottom: 2px solid #fff;
}

nav a {
  color: #fff;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}

nav a:hover {
  color: var(--accent);
  text-decoration: none;
}

nav ul {
  min-height: 48px;
  width: auto;
  text-align: center
}

nav li {
  position: relative;
  list-style: none;
  height: 48px;
  display: inline-block;
  padding: 16px 15px;
  letter-spacing: 2px;
}

#portrait{
  border-radius: 50%;
  border: 4px var(--accent) solid;
}

header i {
  font-size: 30px;
}

.flex a {
  color: #fff;
  transition: ease-in-out .3s;
}

.flex a:hover {
  color: var(--accent);
}

.flex{
  display: flex;
  justify-content: space-around;
  width: 50%;
}

.code-text {
  font-family: "JetBrains Mono", monospace;
  color: var(--accent);
}

main {
  padding-top: 60px;
  padding-bottom:60px;
  /*background-color: #1b1e21;*/
  background-color: var(--primary);
}

hr {
  background-color: limegreen;
  margin-bottom: 2rem;
}

.img-frame {
  white-space: nowrap;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.about-image {
  vertical-align: middle;
  min-width: 20px;
}

.proj-container {
  max-width:1000px;
  text-align: left;
}

.proj-button {
  all: unset;
  cursor: pointer;
  position: relative;
}

.proj-button img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(3, 17, 2, 0.5);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.proj-button:hover .overlay {
  opacity: 1;
}

.card {
  top: 0;
  transition: top ease-out .3s;
  color: white;
}

.card:hover {
  top: -10px;
}

.proj-body {
  background-color: #1a1a1a;
  border: none;
}

.proj-icon {
  color: var(--accent);
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.code {
  font-family: var(--f-code);
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

section {
  margin: 10rem auto 3rem auto;
}

.link-button {
  color: var(--accent);
  padding: 10px;
  border: 1px solid var(--accent);
  border-radius: 5px;
  transition: ease-in-out .3ms;
  position: relative;
}

.link-button:hover {
  color: var(--accent);
  text-decoration: none;
}

aside {
  text-align: center;
  text-decoration: none;
  padding: 0 5px 0 5px;
  position: fixed;
  display: block;
  z-index: 3;
  right: 0;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media (max-width: 1050px) {
  aside {
    display: none;
  }
}

aside li {
  list-style: none;
  line-height: 50px;
}

aside li a {
  color: var(--accent);
  transition: ease-in-out .3s;
  top: 0;
  height: 100%;
}

aside li a:hover {
  top: -10px;
}

aside svg {
  height: 30px;
}

#section2 img {
  width: 5vw;
}

.grid-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.grid img {
  vertical-align: middle;
  max-width: 80px;
  margin:auto;
}

.table-block {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  white-space: nowrap;
}

.skills-card {
  height: 350px;
  background-color: #092509;
  border-radius: 6px;
  top: 50%;
  color: #cecece;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact {
  width: 100%;
  padding: 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

footer {
  text-align: center;
  background-color: #030e02;
  padding-bottom: 20px;
}

.type {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .08em solid limegreen; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  /*animation:*/
  /*        typing 2.3s steps(30, end),*/
  /*        blink-caret .85s step-end infinite;*/
}

.header-type {
  color: limegreen;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .08em solid limegreen; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;
  animation:
          typing 2.3s steps(30, end),
          blink-caret .85s step-end infinite;
}

#modal-img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: limegreen; }
}

footer h4 {
  min-font-size: 10px;
  max-font-size: 80px;
  font-size: 130%;
}

p {
  font-family: "Lunasima", serif;
}
